* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  background-color: #eff5fe;
}
body {
  user-select: none; /* Prevents text selection */
  -webkit-user-drag: none; /* Prevents dragging elements in WebKit browsers */
}
.main-content {
  background-color: #eff5fe;
  width: 650px;
  margin: 0 auto;
  margin-top: -1.2rem;
}
.main-content .hero img {
  width: 100%;
}

.main-content .hero .btn {
  display: block;
  position: absolute;
  top: 64%;
  bottom: 0;
  right: 40%;
}
.main-content .hero .btn img {
  width: 100%;
}
.main-content .games-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
  width: 100%;
}
.bottom img {
  width: 100%;
}
@media only screen and (max-width: 360px) {
  .main-content .hero .btn {
    display: block;
    position: absolute;
    top: 44%;
    bottom: 0;
    right: 17%;
  }
  .main-content .hero .btn img {
    width: 230px !important;
  }
}
@media only screen and (max-width: 375px) {
  /* .main-content .hero .btn {
    position: absolute;
    top: 52.5%;
    right: 18%;
  }
  .main-content .hero .btn img {
    margin-top: 3.75rem;
    width: 230px !important;
  } */
}
@media only screen and (max-width: 414px) {
  .main-content {
    width: 100%;
  }
  /* .main-content .hero .btn {
    position: absolute;
    top: 42.5%;
    right: 18%;
  }
  .main-content .hero .btn img {
    width: 230px !important;
  } */
  .main-content .games-grid {
    margin-top: 1rem;
  }
  .main-content .games-grid img {
    width: 44%;
    padding: 10px;
  }
}
@media only screen and (max-width: 430px) {
  .main-content {
    width: 100%;
  }
  .main-content .hero .btn {
    display: block;
    position: absolute;
    top: 43%;
    bottom: 0;
    right: 18%;
  }
  .main-content .hero .btn img {
    width: 260px;
  }
  .main-content .games-grid {
    margin-top: 1rem;
  }
  .main-content .games-grid img {
    width: 44%;
    padding: 10px;
  }
}

