* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  background-color: #eff5fe;
}
body {
  user-select: none; /* Prevents text selection */
  -webkit-user-drag: none; /* Prevents dragging elements in WebKit browsers */
}
.main-content {
  background-color: #eff5fe;
  width: 650px;
  margin: 0 auto;
  margin-top: -1.2rem;
}
.main-content .hero img.webbtn {
  width: 350px;
  position: absolute;
  top: 65%;
  right: 40.25%;
}

.main-content .games-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
  width: 100%;
}
.bottom img {
  width: 100%;
}
@media only screen and (max-width: 360px) {
  .main-content .hero img {
    width: 100%;
  }
  .main-content .hero img.webbtn {
    width: 230px !important;
    position: absolute;
    top: 51.5% !important;
    right: 14.25% !important;
    margin-top: -3.5rem;
  }
}
@media only screen and (max-width: 375px) {
  .main-content .hero img {
    width: 100%;
  }
  .main-content .hero img.webbtn {
    width: 250px;
    position: absolute;
    top: 51.5% !important;
        right: 14.25% !important;
  }
}
@media only screen and (max-width: 414px) {
  .main-content {
    width: 100%;
  }
  .main-content .games-grid {
    margin-top: 1rem;
  }
  .main-content .games-grid img {
    width: 44%;
    padding: 10px;
  }
  .main-content .hero img {
    width: 100%;
  }
  .main-content .hero img.webbtn {
    width: 250px;
    position: absolute;
    top: 42.5%;
    right: 18.25%;
  }
}
@media only screen and (max-width: 430px) {
  .main-content {
    width: 100%;
  }
  .main-content .games-grid {
    margin-top: 1rem;
  }
  .main-content .games-grid img {
    width: 44%;
    padding: 10px;
  }
  .main-content .hero img {
    width: 100%;
  }
  .main-content .hero img.webbtn {
    width: 250px;
    position: absolute;
    top: 42.5%;
    right: 18.25%;
  }
}

